# fly.toml app configuration file generated for echo-notes-api on 2026-02-17T16:17:27-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "echo-notes-api"
primary_region = "dfw"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]
